<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CargadorStepService.My.MySettings.GestionConnectionString" 
         connectionString="Data Source=DCQLC02GRL01QA;
         Initial Catalog=gestion;
         Persist Security Info=True;
         connection timeout=600;
         User ID=usr_gestion;
         Password=usrgestion" providerName="System.Data.SqlClient" />
    
    <add name="CargadorStepService.My.MySettings.dte3ConnectionString" 
         connectionString="Data Source=DCQLC02GRL01QA;
         Initial Catalog=dte3;
         Persist Security Info=True;
         connection timeout=600;
         User ID=ifau;
         Password=ifau01" providerName="System.Data.SqlClient" />
    
    <add name="CargadorStepService.My.MySettings.AMFotosConnectionString" 
         connectionString="Data Source=FAU2\FAU2;
         Initial Catalog=AMFotos;
         Persist Security Info=True;
         connection timeout=600;
         User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>
    <add key="HoraInicio" value="11:28" />
    <add key="HoraTermino" value="13:00" />

    <add key="FrecuenciaMinutos" value="05" />
    <add key="FrecuenciaMinutosProducto" value="05" />    
    
    <!--Step FAU
    <add key="FTP_HOST" value="192.168.0.101" />
    <add key="FTP_USR" value="usuario" />
    <add key="FTP_PSW" value="123456" />-->

    <!--Step QA-->
    <!--<add key="FTP_HOST" value="192.20.57.164" />
    <add key="FTP_USR" value="stibosw" />
    <add key="FTP_PSW" value="stibosw" />-->

    <!--Step Producción-->
    <add key="FTP_HOST" value="192.20.57.133" />
    <add key="FTP_USR" value="stibosw" />
    <add key="FTP_PSW" value="stibosw" />
    
    <!--Directorio de las imagenes-->
    <add key="DirImgProductoFTP" value="//opt/stibo/step/sidecar.assetpush/sidecar.assetpush1/images/AssetDelivery/" />
    <add key="DirXMLImgProductoFTP_Delta" value="" />
    <add key="DirXMLImgProductoFTP_Full" value="" />
    <add key="DirXMLImgProductoFTPCargadosOK" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Asset/Procesados/" />
    <add key="DirXMLImgProductoFTPCargadosConErrores" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Asset/Erroneos/" />

    <!--Directorio productos -->
    <!--add key="DirXMLProductoFTP_Delta" value="" />
    <add key="DirXMLProductoFTP_Full" value="/FTP1/" />
    <add key="DirXMLProductosFTPCargadosOK" value="/FTP1/cargados/" />
    <add key="DirXMLProductosFTPCargadosConErrores" value="/FTP1/cargados/" /-->
    <add key="DirXMLProductoFTP_Delta" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Autoplanet/Delta/" />
    <add key="DirXMLProductoFTP_Full" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Autoplanet/Full/" />
    <add key="DirXMLProductosFTPCargadosOK" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Autoplanet/Procesados/" />
    <add key="DirXMLProductosFTPCargadosConErrores" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Autoplanet/Erroneos/" />

    <!--Directorio proforma -->
    <add key="DirXMLProforma_Full" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Vehicle/Full/" />
    <add key="DirXMLProforma" value="" />
    <add key="DirXMLProforma_CargadosOK" value="///workarea/OutboundIntegrationEndPoint/Autoplanet/Vehicle/Procesados/" />
    <add key="DirXMLProforma_CargadosConErrores" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Vehicle/Erroneos/" />

    <!--Directorio Aplication Records -->
    <add key="DirXMLACES_Full" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/ACES/Full/" />
    <add key="DirXMLACES_Delta" value="" />
    <add key="DirXMLACES_CargadosOK" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/ACES/Procesados/" />
    <add key="DirXMLACES_CargadosConErrores" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/ACES/Erroneos/" />


    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>