<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CargadorStepForm.My.MySettings.GestionConnectionString"
            connectionString="Data Source=DCQLC02GRL01QA;Initial Catalog=Gestion;Persist Security Info=True;User ID=ifau;Password=ifau01"
            providerName="System.Data.SqlClient" />
        <add name="CargadorStepForm.My.MySettings.dte3ConnectionString"
            connectionString="Data Source=DCQLC02GRL01QA;Initial Catalog=dte3;Persist Security Info=True;User ID=ifau;Password=ifau01"
            providerName="System.Data.SqlClient" />
        <add name="CargadorStepForm.My.MySettings.AMFotosConnectionString"
            connectionString="Data Source=fau2\fau2;Initial Catalog=AMFotos;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  <appSettings>
    
    <!--<add key="FTP_HOST" value="192.168.0.101" />
    <add key="FTP_USR" value="usuario" />
    <add key="FTP_PSW" value="123456" />-->

    <add key="FTP_HOST" value="192.20.57.164" />
    <add key="FTP_USR" value="stibosw" />
    <add key="FTP_PSW" value="stibosw" />

    <!--Directorio de las imagenes-->
    <add key="DirImgProductoFTP" value="//opt/stibo/step/sidecar.assetpush/sidecar.assetpush1/images/AssetDelivery/" />
    <add key="DirXMLImgProductoFTP_Delta" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Asset/Delta/" />
    <add key="DirXMLImgProductoFTP_Full" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Asset/Full/" />
    <add key="DirXMLImgProductoFTPCargadosOK" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Asset/Procesados/" />
    <add key="DirXMLImgProductoFTPCargadosConErrores" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Asset/Erroneos/" />

    <!--Directorio productos -->
    <add key="DirXMLProductoFTP_Delta" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Autoplanet/Delta/" />
    <add key="DirXMLProductoFTP_Full" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Autoplanet/Full/" />
    <add key="DirXMLProductosFTPCargadosOK" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Autoplanet/Procesados/" />
    <add key="DirXMLProductosFTPCargadosConErrores" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Autoplanet/Erroneos/" />

    <!--Directorio proforma -->
    <add key="DirXMLProforma_Full" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Vehicle/Full/" />
    <add key="DirXMLProforma" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Vehicle/Delta/" />
    <add key="DirXMLProforma_CargadosOK" value="///workarea/OutboundIntegrationEndPoint/Autoplanet/Vehicle/Procesados/" />
    <add key="DirXMLProforma_CargadosConErrores" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/Vehicle/Erroneos/" />

    <!--Directorio Aplication Records -->
    <add key="DirXMLACES_Full" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/ACES/Full/" />
    <add key="DirXMLACES_Delta" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/ACES/Delta/" />
    <add key="DirXMLACES_CargadosOK" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/ACES/Procesados/" />
    <add key="DirXMLACES_CargadosConErrores" value="//workarea/OutboundIntegrationEndPoint/Autoplanet/ACES/Erroneos/" />
    
    
  </appSettings>
  
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
